<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>여기바바</title>
</head>
<body>

    <%- include('header.ejs') %>

    <%- include('root.ejs') %>

    
    <div class="main">        
        <%- include('news.ejs') %>
    </div>


</body>
</html>