<link rel="stylesheet" href="/styles/login.css">
<body style="display:flex; align-items:center; justify-content:center;">




    <div class="login-page">

        <div class="form">

            <form class="login-form" action="/login" method="post">
                <h1>LOGIN</h1>
                <div>
                    <input type="text" name="username" placeholder="이름">
                </div>
                <div>
                    <input type="password" name="password" placeholder="비밀번호">
                </div>
                <div>
                    <button type="submit">로그인</button>
                </div>
            </form>

        </div>

    </div>